:root {
    /* Colors for layout */
    --main-bg-color : white;

    /* Color for header */
    --bg-color-header : orange;
    --color-header : white;

    /* Color for nav */
    --color-nav: black;
}

body {
    background-color: var(--main-bg-color);

    margin: auto;
}